$color__navy: #121535;
$color__dark-navy: #10152c;
$color__gold: #a58e3c;

$color__white: #FCFBF9;
$color__light-grey: #f4f4f4;
$color__mid-grey: #ccc;
$color__dark-grey: #666;
$color__light-black: #444;
$color__black: $color__dark-navy;

$color__primary: $color__navy;
$color__secondary: $color__gold;
$color__tertiary: $color__dark-navy;

$color__background-body: #ffffff;
$color__background-hr: $color__secondary;
$color__background-pre: $color__light-grey;
$color__background-ins: $color__light-grey;
$color__background-screen: $color__light-grey;

$color__text-input-focus: $color__secondary;
$color__text-screen: $color__primary;
$color__text-input: $color__text-screen;

$color__background-button: lighten($color__secondary, 40%);
$color__background-button-hover: lighten($color__secondary, 20%);
$color__background-button-focus: darken($color__secondary, 20%);

$color__link: $color__secondary;
$color__link-visited: $color__secondary;
$color__link-hover: $color__tertiary;
$color__text-main: $color__black;
$color__text-headings: $color__secondary;
$color__text-button: $color__secondary;

$color__border-abbr: $color__light-black;
$color__border-button: $color__secondary;
$color__border-button-hover: darken($color__secondary, 10%);
$color__border-button-focus: $color__secondary;
$color__border-input: $color__text-screen;
$color__border-input-focus: $color__secondary;
