@font-face {
	font-family: 'ariadne-script';
		src: url('assets/fonts/ariadnescript-regular-webfont.eot'); /* IE9 Compat Modes */
		src: url('assets/fonts/ariadnescript-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('assets/fonts/ariadnescript-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
		url('assets/fonts/ariadnescript-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
		url('assets/fonts/ariadnescript-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('assets/fonts/ariadnescript-regular-webfont.svg#ariadne_scriptregular') format('svg'); /* Legacy iOS */
}
